In [1]:
print('the name of the company is Cars sons ltd')

the name of the company is Cars sons ltd

In [2]:
print('the year the company was established is', 1996)

the year the company was established is 1996

In [3]:
print("MY names is","michael","and i have",1,"year of experience")

MY names is michael and i have 1 year of experience

In [4]:
Company_name = "Cars Sons Ltd."

In [6]:
print('the name of the company is',Company_name)

the name of the company is Cars Sons Ltd.

In [7]:
Year_started=1996
print('the year the company established is',Year_started)

the year the company established is 1996

In [9]:
total_turnover=12.5
print('total turnover for the company is',total_turnover)

total turnover for the company is 12.5

In [14]:
types=type(total_turnover), type(Company_name), type(Year_started)
print('what is the type for all the previous variables',types)

what is the type for all the previous variables (<class 'float'>, <class 'str'>, <class 'int'>)

In [21]:
price_of_car = 0.2
print('price of car = ',price_of_car)
price_final= 0.2*10
print("price of car after tax =",price_final)

price of car =  0.2
price of car after tax = 2.0

In [25]:
downtime= 30
total_time=240
average_downtime=(downtime/total_time)
print('average downtime =',average_downtime)

average downtime = 0.125

In [29]:
safety_incident= 4.3
total_employes= 156.5 
safety_incident_per_employee= round(safety_incident/total_employes,3)
print('safety incident per employee for the company =',safety_incident_per_employee)

safety incident per employee for the company = 0.027

In [42]:
car_type1='sedan'
car_type2='lambo'
car_type3='suv'
car_type= ['lambo','suv','lambo']
print('cars :',car_type);
price_cars=[2,3,5]
print('car type and price are',car_type , price_cars)
car_type

cars : ['lambo,suv,sedan']
car type and price are ['lambo,suv,sedan'] [2, 3, 5]

['lambo,suv,sedan']

In [38]:
price_cars[3]= 9

IndexError: list assignment index out of range

In [52]:

len(price_cars)

3

In [60]:
numbers=[1,2,3,4,5]
numbers.append(6)
numbers.remove(3)
print(numbers)

[1, 2, 4, 5, 6]

In [ ]:
sitting.count